<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Facebook. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>LominoUIApp-Bold.ttf</string>
		<string>LominoUIApp-BoldItalic.ttf</string>
		<string>LominoUIApp-ExtraBold.ttf</string>
		<string>LominoUIApp-ExtraBoldItalic.ttf</string>
		<string>LominoUIApp-Italic.ttf</string>
		<string>LominoUIApp-Light.ttf</string>
		<string>LominoUIApp-LightItalic.ttf</string>
		<string>LominoUIApp-Medium.ttf</string>
		<string>LominoUIApp-Regular.ttf</string>
		<string>LominoUIApp-Wide.ttf</string>
		<string>LominoUIApp-WideBold.ttf</string>
		<string>LominoUIApp-WideBoldItalic.ttf</string>
		<string>LominoUIApp-WideItalic.ttf</string>
	</array>
</dict>
</plist>
